.shop-container{
    background-color: rgb(241, 238, 238);
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    

}
.btn-container{
    display: flex;
    
    align-items: center;
}
.btn-random{
    width: 100px;
    height: 40px;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid gray;
}
.btn-clear{
    width: 80px;
    height: 40px;
    margin-left: 5px;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid gray;
}
.btn-random:hover{
    background-color: gray;
    color: white;

}
.btn-clear:hover{
    background-color: gray;
    color: white;

}

@media only screen and (max-width: 689px) {
  .product-container {
    grid-template-columns: 5fr;
  }
  .shop-container {
    width: fit-content;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}