.shop-container{
    background-color: rgb(241, 238, 238);
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    

}