.product{
    width: 300px;
    height: 510px;
    border-radius: 10px;
    background-color: white;
    margin: 25px 0px;
    position: relative;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)
    
}
.product img{
    width: 250px;
    height: 286px;
    
    margin: 0 25px;
    
}
.product-info{
    margin: 15px 25px;
}
.product-name{
    font-weight: 500;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
    
}
.brand{
    margin: 0;
}
.size{
    margin:0
}
.price{
    margin: 25px 0px;
    font-size: 20px;
}
.btn-cart{
    width: 100%;
    height: 45px;
    border: none;
    font-weight: 700;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    bottom: 0;
    background-color: gray;

}
.btn-cart:hover{
    background-color: black;
    color: white;
    
}